.as_statusmessage { width: 100%; padding:10px; margin:15px; background: orangered; color: white; }
.as_cachemessage { width: 100%; padding:10px; margin:15px; background: orange; color: white; }
.ampedsense h2 { float: left; }